[submodule "pdk"]
	path = pdk
	url = https://github.com/IHP-GmbH/IHP-Open-PDK.git
[submodule "librelane"]
	path = librelane
	url = https://github.com/librelane/librelane.git
[submodule "chips/14-ir-decoder/design_data"]
	path = chips/14-ir-decoder/design_data
	url = https://github.com/Chip-Design-Group/IR-Remote-Decoder.git
